
.navbar-brand img{
    width: 100px;
    height: 70px;
    
}
.jumbotron{
    
    width: 80%;
    background-image: url('../img/mainHead.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.jumbotron .display-4{
   
    font-size: 500%;
    font-weight: 600;
}

.containerOur{
    margin-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    
}
.jumbotron .lead{
   
    margin-top: 30px;
    font-weight: 400;
    font-size: 250%;
}


 .bgGradientKanan{
    flex:1;
    float: right;
    background-image: url('../img/gradientBlack.jpg');
    
}


.containerOur .bgGradientKiri{
    flex:1;
    background-image: url('../img/gradientBlackKiri.jpg');
    float: left;
    background-position: 160px;
    position: relative;
}

.containerOur .clear{
    clear: both;
}

.container-fluid .container {
    margin: 20px 0px;
}

.img-fluid img{
    margin-top: 50px;
    margin-bottom: 50px;
}