{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light  bg-light shadow-sm">
        <a class="navbar-brand" href="#">
            <img src="{% static 'img/aslibener.png' %}" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto font-weight-bolder">
           <li class="nav-item">
               <a class="nav-link " href="/">Home</a>
           </li>
           <li class="nav-item">
                <a class="nav-link" href="/blog">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="containerOur">
        <div class="bgGradientKiri">
            <p style="display: none;">d</p>
        </div>
        <div class="clear">
        </div>
      <div class="jumbotron jumbotron-fluid">
          <div class="container text-white text-center">
            <h1 class="display-4">{{heading}}</h1>
            <p class="lead">{{subheading}}</p>
            <div class="image1">
            </div>
          </div>
        </div>

        <div class="bgGradientKanan">
            <p style="display: none;">a</p>
        </div>
        <div class="clear">

        </div>
      </div>

      <div class="container-fluid">
          <div class="container bg-info  text-dark shadow text-monospace float-right text-center">
            <div class="row-cols-1" style="margin-top: 10px; height: 300px;">
                <h1>Halo!!!! Nama gue Estuputra, kalian bisa panggil gue Estu</h1>
                
            </div>
          </div>
          <div class="container bg-danger text-monospace text-white shadow float-left">
            <div class="row-cols-1" style="margin-top: 10px; height: 300px;">
                <h2>Sekarang gue semester 3 (kalo lulus) di Sistem Informasi UI. I love to code, ngebacot, also explore new things!</h2>
            </div>
          </div>
          <div class="container bg-warning  text-black-50 text-monospace shadow float-right">
            <div class="row-cols-1" style="margin-top: 10px; height: 300px;">
                <h1>Hobby gue olahraga lah jelas! Tapi gue juga suka sih main game banyak bgt pokonya.</h1>
            </div>
          </div>
          <div class="container bg-success  text-monospace text-white shadow float-left">
            <div class="row-cols-1" style="margin-top: 10px; height: 300px;">
                <h1>Nice to meet you! can we have some dinner tonight? </h1>
            </div>
          </div>
      </div>

      <div class="img-fluid ">
          <img src="{% static 'img/estu.jpg' %}" class="mx-auto d-block" alt="">
      </div>

      <div  class="container-fluid text-center text-capitalize text-white bg-dark">
          <div class="container-sm font-italic p-2">
              <p style="margin-bottom: 0;" >Copyright 2020 <span>&#169;</span>
              </p>
          </div>
      </div>
      
     
    

      
    

    
    
    
    
    
    
    
    
    
    <script src="{% static 'vendor/jquery/jquery.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/popper/popper.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/bootstrap/bootstrap.js' %}" type="text/javascript"></script>

</body>
</html>